@using System.Web.Optimization

<div id="svg-map"></div>

@section Scripts {
	@Scripts.Render("~/bundles/Scripts/svgjs")
	<script>
		//$.get("/Content/1.svg", function (data) {
		//	var draw = SVG('svg-map');
		//	draw.svg(data);
		//})
	</script>
}

