@model KyivMap.Models.HistoryBuilding
@{
    ViewBag.Title = "Edit Building";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new{ role="form"}))
{
	@Html.Partial("_editFields")
	<button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
}

@section Scripts{
	<script src="/Scripts/pages/buildingEdit.js"></script>
}